<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/desenho.png') }}">

</head>
<body>
    <div id="modalColaborador"
class="fixed inset-0 bg-black/60 hidden items-center justify-center z-50">

<div class="bg-white p-6 rounded-xl w-full max-w-lg">

<h2 class="text-xl font-bold mb-4">
Cadastrar Colaborador
</h2>

<form id="formColaborador" class="space-y-4">

<input id="nomeColaborador" placeholder="Nome">

<input id="cpfColaborador" placeholder="CPF">

<select id="cargoColaborador">

<option>Suporte técnico</option>
<option>Financeiro</option>
<option>Diretor</option>
<option>Consultor</option>
<option>Estagiário</option>
<option>Serviços gerais</option>
<option>Outros</option>

</select>

<textarea id="obsColaborador" placeholder="Observação"></textarea>

<div class="flex gap-2">

<button type="button"
onclick="closeModal('modalColaborador')"
class="flex-1 border p-2 rounded">
Cancelar
</button>

<button type="submit"
class="flex-1 bg-blue-600 text-white p-2 rounded">
Salvar
</button>

</div>

</form>

</div>
</div>

<div id="listaColaboradores"></div>

<script src="../static/js/colaboradores.js"></script>
</body>
</html>
